---
layout: default
---

{% for post in paginator.posts %}
  <div class="post">
    <h4 class="date">{{ page.date | date: "%b %-d, %Y" }}</h4>
    <h2 class="headline">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <div class="entry">
      {{ post.content }}

      <div class="clear"></div>

      <div class="comment">
        <h4> <a href="{{ post.url | prepend: site.url }}/#disqus_thread" class="comments-link">0 Comentários</a> </h4>
      </div>
    </div>
  </div>
{% endfor %}

<!-- Pagination links -->
<div class="navigation clearfix">
  {% if paginator.next_page %}
    <div class="alignleft">
      <a href="/page{{ paginator.next_page }}">&laquo; Posts Antigos</a>
    </div>
  {% endif %}

  {% if paginator.previous_page %}
    <div class="alignright">
      <a href="/page{{ paginator.previous_page }}">Novos Posts &raquo;</a>
    </div>
  {% endif %}
</div>
