<div id="header">
  <h1><a href="/">{{ site.title }}</a></h1>
  <p>{{ site.description }}</p>

  <form name="cse" id="searchbox_demo" class="search" action="http://www.google.com/">
    <input type="hidden" name="cref" value="" />
    <input type="hidden" name="ie" value="utf-8" />
    <input type="hidden" name="hl" value="" />
    <input name="q" type="text" size="40" class="searchbar" name="s" id="s" />
    <input type="submit" name="sa" class="searchbut" value="" />
  </form>

  <ul class="navbar">
    <li><img src="/images/navleft.jpg" alt="navleft" /></li>
    <li><a href="/" style="border: none;" title="Home">Home</a></li>
    <li class="page_item page-item-2"><a href="/sobre">Sobre</a></li>
    <li><img src="/images/navright.jpg" alt="navright" /></li>
  </ul>
</div>
