<div id="secbar">
  <ul>
    <li id="text-3" class="widget widget_text">
      <h2 class="widgettitle">Visitantes</h2>
      <div class="textwidget">
        <!-- Histats.com  START  (standard)-->
        <script type="text/javascript">document.write(unescape("%3Cscript src=%27http://s10.histats.com/js15.js%27 type=%27text/javascript%27%3E%3C/script%3E"));</script>
        <a href="http://www.histats.com" target="_blank" title="counter statistics" >
          <script  type="text/javascript" >
            try {Histats.start(1,1134069,4,11,200,40,"00011001");
            Histats.track_hits();} catch(err){};
          </script>
        </a>
        <noscript><a href="http://www.histats.com" onclick="_gaq.push(['_trackEvent', 'outbound-widget', 'http://www.histats.com', '']);"   target="_blank"><img  src="http://sstatic1.histats.com/0.gif?1134069&101" alt="counter statistics" border="0"></a></noscript>
        <!-- Histats.com  END  -->
      </div>
    </li>

    <li id="linkcat-2" class="widget widget_links">
      <h2 class="widgettitle">Lista de Links</h2>
      <ul class='xoxo blogroll'>
        <li><a href="http://cozinhavegetariana.blogspot.com/" title="Cozinha Vegetariana" target="_blank">A delícia de viver o que acredita</a></li>
        <li><a href="https://cacetoides.wordpress.com/" rel="friend met co-worker sweetheart" title="u não aceito isso é um absurdo mano olha aquele negócio ali que roubado putz isso não pode!" target="_blank">Cacetóides!!!</a></li>
        <li><a href="http://delicada-perversao.blogspot.com/" rel="friend" title="O Blog do Rapaz" target="_blank">Delicada Perversão</a></li>
        <li><a href="http://estantedasala.wordpress.com/" title="Receitas veganas, filmes, livros, games… um pouco de tudo!" target="_blank">Estante da Sala</a></li>
        <li><a href="http://sarabonates.blogspot.com/" target="_blank">Fadas e pirilampos encantam a minha palavra *~</a></li>
        <li><a href="http://gyabbo.wordpress.com/" title="Blog perfeito para otakus! ;D" target="_blank">Gyabbo!</a></li>
        <li><a href="http://lincolnregis.blogspot.com/" title="A imagem refletida através dos seus olhos">Os Sons do Vento</a></li>
        <li><a href="http://radicaos.com/" rel="friend met crush date sweetheart" target="_blank">Radicaos</a></li>
        <li><a href="http://www.teclasap.com.br/blog/" title="Para quem quer aprender inglês" target="_blank">Tecla SAP</a></li>
        <li><a href="http://thelovefood.blogspot.com/" title="Um blog com receitas Veganas!" target="_blank">The Love Food</a></li>
        <li><a href="http://vegchica.blogspot.com/" rel="friend" title="Site de receitas da Lailika" target="_blank">VegChica</a></li>
        <li><a href="http://vista-se.com.br/site/" title="Um site pra você não ficar pelado" target="_blank">Vista-se</a></li>
        <li><a href="http://vortexrpg.blogspot.com/" title="Blog de RPG" target="_blank">Vórtex RPG</a></li>
        <li><a href="http://xphabyolax.blogspot.com/" rel="friend met" target="_blank">xXx Brisa Contra O Vento xXx</a></li>
      </ul>
    </li>

    <li id="categories-3" class="widget widget_categories">
      <h2 class="widgettitle">Procure posts com:</h2>
      <ul>
        <li class="cat-item cat-item-228">
          <a href="/category/new/" title="Novo formato que será utilizado a partir de 25/01/2012">New</a>
          <ul class='children'>
            <li class="cat-item cat-item-236"><a href="/category/new/animes/" >Animes</a></li>
            <li class="cat-item cat-item-234"><a href="/category/new/filmes-new/" >Filmes</a></li>
            <li class="cat-item cat-item-230"><a href="/category/new/livros-new/" >Livros</a></li>
            <li class="cat-item cat-item-235"><a href="/category/new/mangas/" >Mangás</a></li>
            <li class="cat-item cat-item-229"><a href="/category/new/notas/" >Notas</a></li>
            <li class="cat-item cat-item-252"><a href="/category/new/seriado/" >Seriado</a></li>
            <li class="cat-item cat-item-220"><a href="/category/new/wandos-do-meu-brasil/" >Wandos do meu Brasil</a></li>
          </ul>
        </li>
        <li class="cat-item cat-item-227">
          <a href="/category/old/" title="Formato antigo do Blog">Old</a>
          <ul class='children'>
            <li class="cat-item cat-item-207"><a href="/category/old/aconteceu-comigo/" >Aconteceu comigo</a></li>
            <li class="cat-item cat-item-128"><a href="/category/old/desabafos/" >Desabafos</a></li>
            <li class="cat-item cat-item-5"><a href="/category/old/dicas/" >Dicas</a></li>
            <li class="cat-item cat-item-17"><a href="/category/old/eventos-olds/" >Eventos</a></li>
            <li class="cat-item cat-item-103"><a href="/category/old/filmes/" >Filmes</a></li>
            <li class="cat-item cat-item-101"><a href="/category/old/imagens/" >Imagens</a></li>
            <li class="cat-item cat-item-167"><a href="/category/old/informatica/" >Informática</a></li>
            <li class="cat-item cat-item-107"><a href="/category/old/livros/" >Livros</a></li>
            <li class="cat-item cat-item-79"><a href="/category/old/musica-2/" >Musica</a></li>
            <li class="cat-item cat-item-23"><a href="/category/old/novidades/" >Novidades</a></li>
            <li class="cat-item cat-item-106"><a href="/category/old/participacoes-especiais/" >Participações Especiais</a></li>
            <li class="cat-item cat-item-26"><a href="/category/old/receitas-olds/" >Receitas</a></li>
            <li class="cat-item cat-item-197"><a href="/category/old/seriados/" >Seriados</a></li>
            <li class="cat-item cat-item-127"><a href="/category/old/trechos/" >Trechos</a></li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <h2>Meta</h2>
      <ul>
        <li><a href="/feed.xml" title="Feed"><abbr title="Really Simple Syndication">RSS</abbr></a></li>
      </ul>
    </li>
  </ul>
</div>
