<!DOCTYPE html>
<html lang="pt-BR">
  {% include head.html %}
  <body>
    <div id="allwrapper">
      <div id="bgwrapper">
        <div id="mainwrapper">
          <div id="wrapper">
            {% include header.html %}

            <div id="container">
              {% include sidebar.html %}

              <div id="content">
                {{ content }}

                <div class="navigation clearfix">
                  <div class="alignleft"><a href="#" >&laquo; Posts Antigos</a></div>
                  <div class="alignright"></div>
                </div>
              </div>

              <div class="clear"></div>
            </div>
          </div>
        </div>

        <div class="clear"></div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
